$default-margin: 12px;
$overlap: 100px;

section {
    background-color: orangered;
    height: 200px;
    width: 400px;
    margin-bottom: -$overlap;
    z-index: 2;
}

form {
    height: 400px;
    width: 600px;
    padding-top: $overlap;
    border-radius: 12px;
    background-color: white
}

.row {
    display: flex;
    justify-content: space-between;
}

.fieldWrapper {
    margin: $default-margin;
    margin-bottom: 0px;
    &.cell {
        width: 29%;
    }
}

mat-form-field {
    width: 100%;
}

button {
    width: 100%;
    margin: 0px $default-margin;
}