<section>
    <div class="hologram">
        <div></div>
    </div>
    <div class="logo">
        <div>MasterCard</div>
    </div>
    <div class="cardNum">{{cardNumberField.value | cardMask}}</div>
    <div class="cardHolder">
        <p class="subtitle">Card Holder</p>
        <p>{{(cardNameField.value || 'JOHN DOE') | uppercase}}</p>
    </div>
    <div class="expires">
        <p class="subtitle">Expires</p>
        <p>MM/YY</p>
    </div>
</section>

<form [formGroup]="cardForm" (ngSubmit)="submitForm()">
    <div class="fieldWrapper">
        <mat-label>Card Number</mat-label>
        <mat-form-field appearance="outline">
            <input matInput formControlName="cardNumber" maxlength="19">
        </mat-form-field>
    </div>

    <div class="fieldWrapper">
        <mat-label>Card Name</mat-label>
        <mat-form-field appearance="outline">
            <input matInput formControlName="cardName">
        </mat-form-field>
    </div>

    <div class="row">
        <div class="fieldWrapper cell">
            <mat-label>Expiration Date</mat-label>
            <mat-form-field appearance="outline">
                <mat-select matInput formControlName="cardExpiryMonth" disableOptionCentering="true" placeholder="Month">
                    <mat-option *ngFor="let m of months" value="m">{{m}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="fieldWrapper cell">
            <mat-label [ngStyle]="{visibility:'hidden'}">Hidden</mat-label>
            <mat-form-field appearance="outline">
                <mat-select  matInput formControlName="cardExpiryYear" disableOptionCentering="true" placeholder="Year">
                    <mat-option *ngFor="let y of years" value="y">{{y}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="fieldWrapper cell">
            <mat-label>CVV</mat-label>
            <mat-form-field appearance="outline">
                <input matInput  formControlName="cardCvv">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <button type="submit" mat-raised-button color="primary">
            Submit
        </button>
    </div>

</form>