$default-margin: 12px;
$card-margin: 24px;
$overlap: 120px;


.cardWrapper {
    height: ($overlap*2);
    width: 400px;
    margin-bottom: -$overlap;
    z-index: 2;
    perspective: 1000px; 
}
  
.cardBase {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
.flipCard {
    transform: rotateY(180deg);
}
  
section {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: orangered;
    color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    &.obverse {
        display: grid;
        grid-template-columns: 200px 100px 100px;
        grid-template-rows: auto;
        grid-template-areas: 
            "hologram ... logo"
            "cardNum cardNum cardNum"
            "cardHolder ... expires";
        
        & .hologram {
            grid-area: hologram;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-left: $card-margin;
            & div {
                height: 40px;
                width: 60px;
                background-color: bisque;
                border-radius: 8px;
            }
        }
        & .logo {
            grid-area: logo;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & .cardNum {
            grid-area: cardNum;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-left: $card-margin;
            font-size: 20px;
            letter-spacing: 4px;
        }
        & .cardHolder {
            grid-area: cardHolder;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: $card-margin;
        }
        & .expires {
            grid-area: expires;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            margin-right: $card-margin;
        }
    
        & .subtitle {
            font-size: 10px;
            margin-bottom: 0px;
            font-family: "Times New Roman", Times, serif;
        }
    
    }

    &.reverse {
        transform: rotateY(180deg);
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "magStrip"
            "cvv"
            "provider";
        & .magStrip {
            grid-area: magStrip;
            height: 20px;
            width: 100%;
            background-color: black;
            margin-top: 32px;
        }
        & .cvv {
            grid-area: cvv;
            display: flex;
            flex-direction: column;
            margin-left: $card-margin;
            margin-right: $card-margin;
            & p {
                text-align: right;
                margin-bottom: 4px;
            }
            & div {
                background-color: white;
                height: 40px;
                line-height: 40px;
                color: black;
                text-align: right;
                padding-right: 8px;
                border-radius: 8px;
                & span {
                    display: inline-block;
                    vertical-align: middle;
                    line-height: normal;
                    letter-spacing: 2px;
                }
            }
        }
        & .provider {
            grid-area: provider;
            text-align: right;
            margin-right: $card-margin;
        }

    }


}


form {
    height: 400px;
    width: 600px;
    padding-top: $overlap;
    border-radius: 12px;
    background-color: white
}

.row {
    display: flex;
    justify-content: space-between;
}

.fieldWrapper {
    margin: $default-margin;
    margin-bottom: 0px;
    &.cell {
        width: 29%;
    }
}

mat-form-field {
    width: 100%;
}

button {
    width: 100%;
    margin: 0px $default-margin;
}