header {
    height: 8vh;
}

main {
    height: 92vh;
    background-color: aliceblue;
}

app-card-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}